{% block form_row %}
    <div class="field">
        {{ form_label(form, label|default(null), {'label_attr': {'class': 'label'}}) }}
        <p class="control">
            {{ form_widget(form) }}
        </p>
    </div>
{% endblock form_row %}

{% block text_widget %}
    {{ form_widget(form, {'attr': {'class': 'input'}}) }}
{% endblock text_widget %}

{% block email_widget %}
    {{ form_widget(form, {'attr': {'class': 'input'}}) }}
{% endblock email_widget %}

{% block _invoice_form_items_widget %}
    <div class="invoice-items">
        {% set items = [] %}
        {% for item in form.vars.value %}
            {% set items = items|merge([{
                id: item.id,
                quantity: item.quantity,
                title: item.title,
                pricePerUnitCents: item.pricePerUnitCents,
                unit: item.unit,
            }]) %}
        {% endfor %}
        <invoice-items :initial-items='{{ items |json_encode|raw}}'></invoice-items>
    </div>
{% endblock %}