{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="title">
        Vystavené faktury
        <a href="{{ path('invoice.new') }}" class="button is-success is-pulled-right">
            <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
            <span>Vystavit fakturu</span>
        </a>
    </h1>

    {% if invoices is empty %}
        <br>
        Zatím není vystavená žádná faktura
    {% else %}

        <table class="table">
            <tr>
                <th>Jméno klienta</th>
                <th>Částka</th>
                <th></th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.client.name }}</td>
                    <td>{{ invoice.totalCents |price(invoice.currency) }}</td>
                    <td>
                        <a href="{{ path('invoice.detail', {id: invoice.id}) }}" class="button is-small">
                            <span class="icon is-small"><i class="fa fa-eye"></i></span>
                        </a>
                        <a href="{{ path('invoice.edit', {id: invoice.id}) }}" class="button is-small">
                            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

