{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">
        Faktura #{{ invoice.number }}
        <a href="{{ path('invoice.edit', {id: invoice.id}) }}" class="button is-primary is-pulled-right">
            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
            <span>Upravit</span>
        </a>
    </h1>
    <dl>
        <dt><strong>Klient</strong></dt>
        <dd><a href="{{ path('client.detail', {id: invoice.client.id}) }}">{{ invoice.client.name }}</a></dd>
        <dt><strong>Datum vystavení</strong></dt>
        <dd>{{ invoice.issuedAt |date('d. m. Y') }}</dd>
        <dt><strong>Datum splatnosti</strong></dt>
        <dd>{{ invoice.paymentDue |date('d. m. Y') }}</dd>
    </dl>

    <div class="invoice-items">
        {% set items = [] %}
        {% for item in invoice.items %}
            {% set items = items|merge([{
            id: item.id,
            quantity: item.quantity,
            title: item.title,
            pricePerUnitCents: item.pricePerUnitCents,
            unit: item.unit,
            }]) %}
        {% endfor %}
        <invoice-items :editable="false" :initial-currency='{{ invoice.currency |json_encode|raw }}'
                       :initial-items='{{ items |json_encode|raw }}'></invoice-items>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/invoice.js') }}"></script>
{% endblock %}